
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isUser(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function userIsAdmin(uid) {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      // Admins can read/write any user profile.
      allow read, write: if userIsAdmin(request.auth.uid);
      // Users can create and update their own profile.
      allow create, update: if isUser(userId);
      // Non-admin users can read their own profile and list other profiles.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }

    match /groups/{groupId} {
      // Admins have full access.
      allow read, write: if userIsAdmin(request.auth.uid);
      // Non-admins have read-only access.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }

    match /members/{memberId} {
      // Admins have full access.
      allow read, write: if userIsAdmin(request.auth.uid);
      // Non-admins have read-only access.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }

    match /payments/{paymentId} {
      // Admins have full access.
      allow read, write: if userIsAdmin(request.auth.uid);
      // Non-admins have read-only access.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }

    match /expenses/{expenseId} {
      // Admins have full access.
      allow read, write: if userIsAdmin(request.auth.uid);
      // Non-admins have read-only access.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }

    match /contributionSettings/{settingId} {
      // Admins have full access.
      allow read, write: if userIsAdmin(request.auth.uid);
      // Non-admins have read-only access.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }

    match /notes/{noteId} {
      // Admins have full access.
      allow read, write: if userIsAdmin(request.auth.uid);
       // Non-admins have read-only access.
      allow get, list: if isSignedIn() && !userIsAdmin(request.auth.uid);
    }
  }
}
